<!-- Show's username here -->
<h2 id="title" data-userId={{user_id}}>Hello {{username}}!!</h2>

<p>Search and Manage your TV shows with this app.</p>
<form class="search-bar" id="search-form">

	<div class="form-group">
	  <input type="text" class="form-control" placeholder="Find a show" id="show-input">
	</div>
	<button type="button" class="btn btn-default" data-type="search" data-toggle="modal" data-target="#showModal">Search</button>

</form>

<!-- Pass in first 5 favorites data form server.js -->
<a href="/rel/user/{{user_id}}/favorite"><h3>Favorites: </h3></a><br>
<div class="row fav_list justify-content-md">
	<div class="col-md">
		{{#each favorite}}
			<div class="fav float-left">
	    		<img src={{show.imgURL}} class="img-thumbnail" data-id={{show.OMDB_id}} data-type="item" alt="Cinque Terre" data-toggle="modal" data-target="#showModal"><br>{{show.title}}<br></a>
		  	</div>
		{{/each}}
	</div>
</div>

<!-- Pass in first 5 watchList data form server.js -->
<a href="/rel/user/{{user_id}}/watchList"><h3>Watch List: </h3></a><br>
<div class="row watchList justify-content-md">
	<div class="col-md">
		{{#each watchList}}
			<div class="watch float-left">
	    		<img src={{show.imgURL}} class="img-thumbnail" data-id={{show.OMDB_id}} data-type="item" alt="Cinque Terre" data-toggle="modal" data-target="#showModal"><br>{{show.title}}<br></a>
		  	</div>
		{{/each}}
	</div>
</div>

<!-- Search Show Modal -->
<!-- Modal -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title text-center" id="ShowTitle"></h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body" id="modalTextBox">
        <div class="text-center"><img id="modImage"></div>
		<h5 class="modalInfo">Last Aired</h5>
		<p id="time"></p>
	    <h5 class="modalInfo">Plot</h5>
	    <p id="plot"></p>
      </div>

      <div class="modal-footer">
        <button type="button" id="fave-btn" class="btn btn-primary add-btn" data-rel="favorite" data-userId={{user_id}} data-showId="0">Add to Favorites</button>
        <button type="button" id="watch-btn" class="btn btn-primary add-btn" data-rel="watchlist" data-userId={{user_id}} data-showId="0">Add to Watchlist</button>
      </div>

    </div>
  </div>
</div>

<script src="/js/show.js"></script>
