<!-- Show's username here -->
<h2>Hello {{username}}!!</h2>

<!-- Pass in first all relationship data form server.js -->
<h3>Here are all your {{Favorites}}: </h3><br>
<div class="row fav_list justify-content-md">
	<div class="col-md">
		{{#each favorite}}
			<div class="fav float-left">
	    		<img src={{show.imgURL}} class="img-thumbnail" data-attribute={{show.id}} alt="Cinque Terre" data-toggle="modal" data-target="#exampleModal"><br>{{show.title}}<br>{{show.OMDB_id}}</a>
		  	</div>
		{{/each}}
	</div>
</div>